*{
    margin: 0;
    padding: 0;
  }
  .divstyle{
    background-image: linear-gradient(to right, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
      height:48px;
       position: fixed;
       width:100%;
       z-index: 1;
       display: flex;
  }
  .cc{
    text-decoration: none;
  color: black;
    margin-top: 0.9vh;
    margin-left:1.2vw;
    font-size: 25px;
  }
  .ne{
  text-decoration: none;
  margin-left:9.4vw;
  margin-top: -2.1vh;
  font-size: 25px;
  }
  .In{
  text-decoration: none;
  margin-left: 21.95vw;
  margin-top: -2.3vh;
  font-size: 25px;
  }
  /* .world{
    margin-left: 1325px;
    margin-top: 2px;
    font-size: 30px;
  } */
  /* .globelogo{
    margin-left: 1290px;
    margin-top: 80.5px;
    font-size: 192px;
  } */
  /* .searchlogo{
    margin-left: 1470px;
    margin-top: 20px;
    font-size: 27px;
  }
   */
  .dot1{
  margin-top: -18px;
  font-size: 10px;
  margin-left: 85px;
  }
  .dot2{
  font-size: 10px;
  margin-left: 165px;
  margin-top: -17px;
  }
  
  
  
  
  
  .menu-bar{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 2%;
    text-decoration: white;
    width: 100%;
    text-align: right;
    display: flex;
  }
  .menu-bar ul
  {
  display: inline-flex;
  list-style: none;
  color: #fff;
  gap:0.97vw;
  }
  .menu-bar ul li{
  width: 8.21vw;
  left: -8px;
  margin: 1.04vw;
  margin-top:-32px;
  padding: 4.21vw 0vw 0vw 0vw;
  position: relative;
  }
  .menu-bar ul li a
  {
  text-decoration: none;
  color:black;
  }
  .active, .menu-bar ul li
  {
  text-align:center;
  padding-bottom: 1.3vw;
  border-radius: 0.2vw;
  }
  .active, .menu-bar ul li:hover{
    /* background-color:#4A148C; */
  }
  .menu-bar .fa
  {
   margin-right: 0.7vw;
  }
  .sub-menu-1{
  display: none;
  z-index:1;
  margin-left: -1.6vw;
  }
  /* ? */
  .menu-bar ul li:hover .sub-menu-1{
  display: block;
  /* position: absolute; */
  left: 0;
  top: 100%;
  transition:1.6s;
  background-color:#4A148C;
  }
  .sub-menu-1 ul{
  display: block;
  /* padding-right:10px; */
  text-align:center;
  margin-left: 0.5vw;
  width:13vw;
  /* padding-top:10px; */
  transition:1.6s;
  height: 70px;
  margin-top:0.4vw;
  /* gap: 25px; */
  /* margin: 10px; */
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  }
  .sub-menu-1 ul li{
    width:11.05vw;
     padding:4px;
     gap: 8vw;
     /* gap:-10px; */
  /* padding: 10px; */
  }
  .sub-menu-1 ul li:hover{
  width:11.57vw;
  background-color:#EF6C00;
  /* padding: 10px; */
  }
  .sub-menu-1{
  margin-left:-6.6vw;
  display: none;
  transition:1.6s;
  }
  .menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  transition:1.6s;
  background-color:#784aac;
  opacity:0.9;
  }
  .sub-menu-2{
  margin-left:-6.4vw;
  display: none;
  width:250px;
  text-align: center;
  z-index:1;
  }
  .menu-bar ul li:hover .sub-menu-2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:#4A148C;
  }
  .sub-menu-2 ul{
  display: block;
  text-align:center;
  width:250px;
  margin-top:40px;
  height: 40px;
  margin-left: 10px;
  }
  .sub-menu-2 ul li{
  width: 280px;
  padding:5px;
  /* padding: 10px; */
  }
  .sub-menu-2 ul li:hover{
  width:210px;
  background-color:#EF6C00;
  /* padding: 10px; */
  }
  .sub-menu-2{
  display: none;
  }
  .menu-bar ul li:hover .sub-menu-2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:#784aac;
  opacity:0.9;
  }
  .menu-header{
  background-color:white;
  text-align: right;
  position:fixed;
  width:100vw;
  height:65px;
  margin-top:48px;
  z-index:1;
  }
  .what {
    margin-left:45.5%;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 1.3rem;
     font-weight: bold;
  top: -100px;
  margin-top: -50px;
   
     /* width: 150%; */
  }
  .Whos{
    margin-top:-50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .ser{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    font-weight: bold;
     
    margin-top:-50px;
  }
  .Insights{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 21px;
     font-weight: bold;
     margin-left: -21px;
     margin-top:-50px;
  }
  .getin{
   margin-top:-50px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 21px;
   font-weight: bold;
  }
  
  .styo:hover{
  color:rgb(70, 70, 73);
  transform: scale(1.25);
  }
  
  
  
  .enimg{
   
    text-align: center;
    margin-left: -60.4vw;
    margin-top: -1.8vh;
  }
  .gg{
    margin-left: -10.6vw;
    margin-top: 8px;
    margin-bottom: -32px;
  width: 0%;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  }
  .lk{
  margin-top: -50px;
  margin-left: 32vw;
  }
  .text
  {
    margin-top: -10px;
  
  }
  
  
  
  .container{
    background-image:url(Picture90.PNG);
    position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-left: auto;
  margin-right: auto;
    height:85.8vh;
    margin-top:113px;
  }
  .hpos1{
    color:white;margin-left:12vw;margin-top:25vh;font-size:2vw;font-family:'Times New Roman', Times, serif;
  }
  .parapos1{
    color:white;margin-top:30vh;margin-left:-29.4vw;line-height:5vh;font-size:1.8vw;font-family: 'Times New Roman', Times, serif;
  }
  
  .circle {
    width: 400px;
    height: 400px;
    line-height: 500px;
    border-radius: 50%;
    margin-top: 46px;
    margin-left: 312px;
    color: black;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
  }
  .circle2 {
    width: 400px;
    height: 400px;
    line-height: 500px;
    border-radius: 50%;
    margin-top: 337px;
    margin-left: -405px;
    color: black;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
    border: black;
  }
  
  .paragraph{
    display: flex;
  }
  .para1{
    margin-top: 200px;
    color: #fff;
    font-size: 54px;
    font-family: sans-serif;
    margin-left: 3%;
    width: 60vw;
    font-weight: bold;
   
  }
  .para2{
    margin-top: 280px;
    color: #fff;
    font-size: 54px;
    font-family: sans-serif;
    margin-left: -33.6%;
    width: 60vw;
    font-weight: bold;
  }
  .para3{
    margin-top: 380px;
    color:black;
    font-size: 26px;
    font-family: sans-serif;
    margin-left: -33.5%;
    width: 58vw;
  }
  .let{
    font-size: 120px;
    margin-top: -58px;
  }
  /* .circle {
    width: 280px;
    height: 280px;
    line-height: 500px;
    border-radius: 50%;
    margin-top: 165px;
    margin-left: -110%;
    color: black;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
  } */
  .circle{
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
  }
  .lets{
    font-size: 120px;
    margin-top: -58px;
  }
  /* .circle2 {
    width: 280px;
    height: 280px;
    line-height: 500px;
    border-radius: 50%;
    margin-top: 360px;
    margin-left: -265px;
    color: black;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
    border: black;
  } */
  .container1{
    /* background-image:url(Picture90.PNG); */
    background-color:plum;
    position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-left: auto;
  margin-right: auto;
    height:86.4vh;
    margin-top:113px;
  }
  .h-1{
    margin-top:20px;
    margin-left:50px;
    font-size:20px;
    width:500px;
  }
  .bar{
    width:5px;
    height:100px;
    border-width:0.2px;
    border-style:solid;
    margin-top:255px;
    margin-left:-1760px;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
  
  }
  .num1{
    font-size:40px;
    margin-top:90px;
    margin-left:-500px;
    
  }
  .p-1{
    margin-top:150px;
    font-size:25px;
    margin-left:-37.5px;
    width:500px;
  }
  .im1{
    margin-left:210px;
    margin-top:40px;
  }
  .num2{
    font-size:40px;
    margin-top:260px;
    margin-left:22px;
    
  }
  .p-2{
    margin-top:320px;
    font-size:25px;
    margin-left:-39px;
    width:300px;
  }
  .num3{
    font-size:40px;
    margin-top:430px;
    margin-left:-332px;
    color:black;
  }
  .p-3{
    margin-top:490px;
    font-size:25px;
    margin-left:-39px;
    width:300px;
  }
  .num4{
    font-size:40px;
    margin-top:600px;
    margin-left:-303px;
    color:black;
  }
  .p-4{
    margin-top:660px;
    font-size:25px;
    margin-left:-37px;
    width:300px;
  }
  .h-2{
    margin-left:406px;
    margin-top:460px;
    width:1500px;
    font-family: sans-serif;
  }
  .p-5{
    margin-top:515px;
    margin-left:-1500px;
    width:1300px;
    font-size:25px;
    font-family: sans-serif;
    line-height:35px;
  }
  .rect{
    width:200px;
    height:50px;
    border-width:1px;
    border-style:solid;
    margin-top:700px;
    margin-left:-1302px;
  }
  .p-6{
    font-size:30px;
    margin-left:30px;
    margin-top:5px;
  }
  .container2{
  height: 99vh;
  background-color: white;
  display: flex;
  margin-top: -40px;
  }
  
  
                           
                                                             
  .text {
    color:white;
    font-size: 28px;
  font-family: sans-serif;
    position: absolute;
   margin-top: 30px;
   margin-left: 280px;
    width: 50%;
    text-align: justify;
    line-height:40px;
   
  
  }
 
  .img1{
    margin-top: -41px;
    margin-left:-20vh
  }
  .img2{
    margin-top: -45px;
    margin-left:-22vh
  }
  .img3{
    margin-top: -41px;
    margin-left:-20vh
  }
  .img4{
    margin-top: -41px;
    margin-left:-20vh
  }
  
  
  
  
  
  /* .mySlides fade{
    margin-top: -20px;
  } */
  
  /* container-3 */
  
  
  
  
  .ppos2{
  margin-left:25.45vw;
  color:black;
  margin-top:12.5vh;
  font-size:3vw;
  }
  
  .container9{
    background-image: linear-gradient(to right, rgb(173, 184, 197) , rgba(31, 82, 223, 0.986));
    height:79.4vh;
    margin-left:-0.4vw;
    width:99.5vw;
  }
  .Circle1{
  margin-left:1.7vw;padding-top:11.55vh;
  } 
  .Circle2{
  margin-left:1.64vw;margin-top:19.6vh;
  }
  #circle{
    width: 7vw;height: 14vh;border-radius:7vw;border-width:0.1vw;border-style:solid;border-color:black;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
  }
  
  .letE{
    margin-top:-24vh;margin-left:3.85vw;font-size:5vw;color:white;margin-top:-13.2vh;
  }
  .letG{
    margin-top:-24vh;margin-left:3.35vw;font-size:5vw;color:white;margin-top:-13.2vh;
  }
  .hpost5{
  margin-left:10.45vw;margin-top:34.5vh;font-size:0.7vw;
  }
  .para-1{
  margin-left:10.4vw;font-size:1.2vw;line-height:4vh;margin-top:-55.4vh;
  }
  .hpost6{
    margin-left:39.35vw;margin-top:-43.8vh;font-size:0.7vw;
  }
  .hpost7{
    margin-left:55.5vw;margin-top:-3.3vh;font-size:0.7vw;
  }
  .hpost8{
    margin-left:79.3vw;margin-top:-3.5vh;font-size:0.7vw;color:white;
  }
  .links{
    font-weight:bold;margin-left:39.5vw;margin-top:0.1vh;font-size:1vw;line-height:2vh;
  }
  .para3{
    font-weight:bold;margin-left:55.5vw;margin-top:-34.1vh;font-size:1vw;line-height:2vh;
  }
  .info{
    font-weight:bold;margin-left:79.5vw;margin-top:-34.2vh;font-size:1vw;color:white;line-height:2vh;
  }
  .Hpos{
    margin-left:10.5vw;margin-top:1.4vh;font-size:0.6vw;
  }
  .Mpos{
    margin-left:39.9vw;margin-top:-3vh;font-size:0.6vw;
  }
  .Kpos{
    margin-left:67.7vw;margin-top:-3vh;font-size:0.6vw;
  }
  .HA{
    margin-left:10.5vw;margin-top:1.5vh;font-size:1vw;
  }
  .MA{
    margin-left:39.9vw;margin-top:-7.2vh;font-size:1vw;
  }
  .KA{
    margin-left:67.7vw;margin-top:-7.3vh;font-size:1vw;
  }
  .Tpos{
    margin-left:10.5vw;margin-top:2vh;font-size:0.6vw;
  }
  .Gpos{
    margin-left:39.9vw;margin-top:-3vh;font-size:0.6vw;
  }
  .Rpos{
    margin-left:67.7vw;margin-top:-3vh;font-size:0.6vw;
  }
  .TA{
    margin-left:10.5vw;margin-top:1.3vh;font-size:1vw;
  }
  .GA{
    margin-left:39.9vw;margin-top:-7.2vh;font-size:1vw;
  }
  .RA{
    margin-left:67.7vw;margin-top:-4.5vh;font-size:1vw;
  }
    .footer{
      height: 60px;
      margin-top: 0.2px;
      display: flex;
      background-color: bisque;
    }
    .fp{
      margin-top: 18px;
     margin-left: 1.5%;
     font-size: 20px;
    }
    .fc{
      margin-left: 74.5%;
      margin-top:10px ;
    }
    .eimg{
      margin-left: -93.7%;
      margin-top: 7px;
    }
    .lin{
      margin-top: 9.5px;
      margin-left: 385px;
    }
    .face{
      margin-top: 9.5px;
     margin-left: 2%;
    }
    .inst{
      margin-top: 9.5px;
     margin-left: 2.2%;
    }
    .gm{
      margin-top: 9.5px;
      margin-left: -27%;
    }
    .uu{
      margin-top: 9.5px;
      margin-left: 1.6%;
    }
  
  
  