*{
    margin: 0;
    padding: 0;
}
.divstyle{
    background-image: linear-gradient(to right, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
      height:48px;
       position: fixed;
       width:100%;
       z-index: 1;
       display: flex;
}
.cc{
    text-decoration: none;
 color: black;
    margin: 1.6vh;
    margin-left: 2.2vw;
    font-size: 25px;
}
.ne{
text-decoration: none;
margin-left:11vw;
margin-top: -4.75vh;
font-size: 25px;
}
.In{
text-decoration: none;
margin-left: 25vw;
margin-top: -3.25vh;
font-size: 25px;
}
.world{
    margin-left: 1325px;
    margin-top: -38px;
    font-size: 30px;
}
.globelogo{
    margin-left: 1290px;
    top: 0;
    margin-top: -29.5px;
    font-size: 32px;
}
.searchlogo{
    margin-left: 1470px;
    margin-top: -30px;
    font-size: 27px;
}

.dot1{
  margin-top: -18px;
  font-size: 10px;
  margin-left: 85px;
}
.dot2{
  font-size: 10px;
  margin-left: 165px;
  margin-top: -17px;
}





.menu-bar{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 2%;
    text-decoration: white;
    width: 100%;
   
    text-align: right;
    display: flex;
  }
  .menu-bar ul
  {
  display: inline-flex;
  list-style: none;
  color: #fff;
  gap:0.97vw;
  }
  .menu-bar ul li{
  width: 8.21vw;
  left: -8px;
  margin: 1.04vw;
  margin-top:-32px;
  padding: 4.21vw 0vw 0vw 0vw;
  position: relative;
  }
  .menu-bar ul li a
  {
  text-decoration: none;
  color:#69666c;
  }
  .active, .menu-bar ul li
  {
  text-align:center;
  padding-bottom: 1.3vw;
  border-radius: 0.2vw;
  }
  .active, .menu-bar ul li:hover{
    /* background-color:#4A148C; */
  }
  .menu-bar .fa
  {
   margin-right: 0.7vw;
  }
  .sub-menu-1{
  display: none;
  z-index:1;
  margin-left: -1.6vw;
  }
  /* ? */
  .menu-bar ul li:hover .sub-menu-1{
  display: block;
  /* position: absolute; */
  left: 0;
  top: 100%;
  transition:1.6s;
  background-color:#4A148C;
  }
  .sub-menu-1 ul{
  display: block;
  /* padding-right:10px; */
  text-align:center;
  margin-left: 0.5vw;
  width:13vw;
  /* padding-top:10px; */
  transition:1.6s;
  height: 70px;
  margin-top:0.4vw;
  /* gap: 25px; */
  /* margin: 10px; */
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  }
  .sub-menu-1 ul li{
    width:11.05vw;
     padding:4px;
     gap: 8vw;
     /* gap:-10px; */
  /* padding: 10px; */
  }
  .sub-menu-1 ul li:hover{
  width:11.57vw;
  background-color:#EF6C00;
  /* padding: 10px; */
  }
  .sub-menu-1{
  margin-left:-6.6vw;
  display: none;
  transition:1.6s;
  }
  .menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  transition:1.6s;
  background-color:#784aac;
  opacity:0.9;
  }
  .sub-menu-2{
  margin-left:-6.4vw;
  display: none;
  width:250px;
  text-align: center;
  z-index:1;
  }
  .menu-bar ul li:hover .sub-menu-2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:#4A148C;
  }
  .sub-menu-2 ul{
  display: block;
  text-align:center;
  width:250px;
  margin-top:40px;
  height: 40px;
  margin-left: 10px;
  }
  .sub-menu-2 ul li{
  width: 280px;
  padding:5px;
  /* padding: 10px; */
  }
  .sub-menu-2 ul li:hover{
  width:210px;
  background-color:#EF6C00;
  /* padding: 10px; */
  }
  .sub-menu-2{
  display: none;
  }
  .menu-bar ul li:hover .sub-menu-2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:#784aac;
  opacity:0.9;
  }
.menu-header{
background-color:white;
text-align: right;
position:fixed;
width:100vw;
height:65px;
margin-top:48px;
z-index:1;
}
.what {
    margin-left:-5%;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 1.3rem;
     font-weight: bold;
  top: -100px;
 margin-top: -3%;
   
     /* width: 150%; */
}
.Whos{
    margin-top: -3%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    font-weight: bold;
}
.ser{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    font-weight: bold;
     
    margin-top: -3%;
}
.Insights{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 21px;
     font-weight: bold;
     margin-left: -21px;
     margin-top: -3%;
}
.getin{
   margin-top: -3%;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 21px;
   font-weight: bold;
}

.styo:hover{
  color:rgb(70, 70, 73);
  transform: scale(1.25);
  }



.enimg{
   
    text-align: center;
    margin-left: -80vw;
    margin-top: 20px;
}
.gg{
    margin-left: 5vw;
    margin-top: 22px;
    margin-bottom: -32px;
width: 0%;
font-size: 25px;
text-decoration: none;
color: #fff;
}
.lk{
  margin-top: -50px;
  margin-left: 32vw;
}
.text
{
    margin-top: -10px;

}


.container{
    position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
background-color:red;
    height:47.85vw;
  }
  .paragraph{
    display: flex;
  }
  .para1{
    margin-top: 160px;
    color:white;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: -1860px;
    width: 60vw;
    line-height: 40px;
   
  }
  .para2{
    margin-top: 305px;
    color:white;
    font-size: 24px;
    font-family: sans-serif;
    margin-left:-1150px;
    width: 60vw;
    line-height: 40px;
  }
  .para3{
    margin-top: 600px;
    color:white;
    font-size: 24px;
    font-family: sans-serif;
    margin-left:-1150px;
    width: 60vw;
    line-height: 40px;
  }
  .let{
    font-size: 120px;
    margin-top: -120px;
  }
  .circle {
    width: 400px;
    height: 400px;
    line-height: 600px;
    border-radius: 50%;
    margin-top: 170px;
    margin-left: -25vw;
    color: black;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
  }
  .lets{
    font-size: 120px;
    margin-top: -120px;
  }
  .circle2 {
    width: 400px;
    height: 400px;
    line-height: 600px;
    border-radius: 50%;
    margin-top: 470px;
    margin-left: -20.5vw;
    color: black;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
    border: black;
  }


.container2{
  height:65vh;
  background-color:lightpink;
  display: flex;
  margin-top: 0px;
}
.bwpara{
  display: flex;
  margin-left: 40px;
}


.rdpara{
  margin-top: 60px;
  margin-left: -20px;
  font-size: 22px;
  color:rgb(123, 121, 116) ;
  font-family: sans-serif;
  /* width: 45%; */
}
.vl {
  border-left: 2px solid rgb(97, 94, 91);
  height: 450px;
  margin-left: 45px;
  margin-top: 140px;
}
.yer{
  margin-top: 100px;
  margin-left: -710px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
.rimg1{
  margin-top: 160px;
  margin-left: -425px;
}

.rdpara1{
  margin-top: 350px;
  width: 600px;
  margin-left: 40px;
  font-size: 22px;
  font-family: sans-serif;
  line-height:40px;
}



/* container-3 */



.container3{
  height: 71vh;
  background-color:lightyellow;
  display: flex;
}
.co3{
  display: flex;
}

.rdpara2{
  margin-top: 300px;
  width:610px;
  margin-left: 3%;
  font-size: 22px;
  font-family: sans-serif;
  line-height:40px;
}

.vl1 {
  border-left: 2px solid rgb(97, 94, 91);
  height: 500px;
  margin-left: 782px;
  margin-top: 100px;
}
.yer1{
  margin-left: -680px;
  margin-top: -5px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
 
}
.rimg2{
  margin-left: -1211px;
  margin-top: 120px;
}





/* container-4 */



.container4{
  height: 79vh;
  background-color: skyblue;
  display: flex;
  margin-top: -50px;
}

.rdpara3{
  margin-top: 300px;
  width:600px;
  margin-left: 3%;
  font-size: 22px;
  font-family: sans-serif;
  line-height:40px;
}

.vl2 {
  border-left: 2px solid rgb(97, 94, 91);
  height: 500px;
  margin-left: 785px;
  margin-top: 104px;
}
.yer2{
  margin-left: -730px;
  margin-top: 65px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
 
}
.rimg3{
  margin-left: -674px;
  margin-top: 125px;
}





/* container-5 */



.container5{
  height: 71vh;
  background-color:lightgreen;
  display: flex;
  margin-top: -120px;
}

.rdpara4{
  margin-top: 300px;
  width:600px;
  margin-left: 3%;
  font-size: 22px;
  font-family: sans-serif;
  line-height:40px;
}

.vl3 {
  border-left: 2px solid rgb(97, 94, 91);
  height: 500px;
  margin-left: 785px;
  margin-top: 105px;
}
.yer3{
  margin-left: -758px;
  margin-top: 65px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
 
}
.rimg4{
  margin-left: -706px;
  margin-top: 130px;
}

































  .footer{
    height: 50px;
    margin-top: -38px;
    display: flex;
    background-color:rgb(188, 170, 170);
    z-index: 1;
  }
  .fp{
    margin-top: 18px;
   margin-left: 1.5%;
   font-size: 20px;
  }
  .fc{
    margin-left: 69%;
    margin-top:10px ;
  }
  .eimg{
    margin-left: -90%;
    margin-top: 6px;
  }
  .lin{
    margin-top: 5px;
    margin-left: 200px;
  }
  .face{
    margin-top: 5px;
   margin-left: 0.6%;
  }
  .inst{
    margin-top: 5px;
   margin-left: 0.9%;
  }
  .gm{
    margin-top: 5px;
    margin-left: -36%;
  }
  .uu{
    margin-top: 0.35%;
    margin-left: -0.5%;
  }

































