*{
    margin: 0;
    padding: 0;
  }
  .divstyle{
    background-image: linear-gradient(to right, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
      height:48px;
       position: fixed;
       width:100%;
       z-index: 1;
       display: flex;
  }
  .cc{
    text-decoration: none;
  color: black;
    margin-top: 0.9vh;
    margin-left:1.2vw;
    font-size: 25px;
  }
  .ne{
  text-decoration: none;
  margin-left:9.4vw;
  margin-top: -2.1vh;
  font-size: 25px;
  }
  .In{
  text-decoration: none;
  margin-left: 21.95vw;
  margin-top: -2.3vh;
  font-size: 25px;
  }
  /* .world{
    margin-left: 1325px;
    margin-top: 2px;
    font-size: 30px;
  } */
  /* .globelogo{
    margin-left: 1290px;
    margin-top: 80.5px;
    font-size: 192px;
  } */
  /* .searchlogo{
    margin-left: 1470px;
    margin-top: 20px;
    font-size: 27px;
  }
   */
  .dot1{
  margin-top: -18px;
  font-size: 10px;
  margin-left: 85px;
  }
  .dot2{
  font-size: 10px;
  margin-left: 165px;
  margin-top: -17px;
  }
  
  
  
  
  
  .menu-bar{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 2%;
    text-decoration: white;
    width: 100%;
    text-align: right;
    display: flex;
  }
  .menu-bar ul
  {
  display: inline-flex;
  list-style: none;
  color: #fff;
  gap:0.97vw;
  }
  .menu-bar ul li{
  width: 8.21vw;
  left: -8px;
  margin: 1.04vw;
  margin-top:-32px;
  padding: 4.21vw 0vw 0vw 0vw;
  position: relative;
  }
  .menu-bar ul li a
  {
  text-decoration: none;
  color:#69666c;
  }
  .active, .menu-bar ul li
  {
  text-align:center;
  padding-bottom: 1.3vw;
  border-radius: 0.2vw;
  }
  .active, .menu-bar ul li:hover{
    /* background-color:#4A148C; */
  }
  .menu-bar .fa
  {
   margin-right: 0.7vw;
  }
  .sub-menu-1{
  display: none;
  z-index:1;
  margin-left: -1.6vw;
  }
  /* ? */
  .menu-bar ul li:hover .sub-menu-1{
  display: block;
  /* position: absolute; */
  left: 0;
  top: 100%;
  transition:1.6s;
  background-color:#4A148C;
  }
  .sub-menu-1 ul{
  display: block;
  /* padding-right:10px; */
  text-align:center;
  margin-left: 0.5vw;
  width:13vw;
  /* padding-top:10px; */
  transition:1.6s;
  height: 70px;
  margin-top:0.4vw;
  /* gap: 25px; */
  /* margin: 10px; */
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  }
  .sub-menu-1 ul li{
    width:11.05vw;
     padding:4px;
     gap: 8vw;
     /* gap:-10px; */
  /* padding: 10px; */
  }
  .sub-menu-1 ul li:hover{
  width:11.57vw;
  background-color:#EF6C00;
  /* padding: 10px; */
  }
  .sub-menu-1{
  margin-left:-6.6vw;
  display: none;
  transition:1.6s;
  }
  .menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  transition:1.6s;
  background-color:#784aac;
  opacity:0.9;
  }
  .sub-menu-2{
  margin-left:-6.4vw;
  display: none;
  width:250px;
  text-align: center;
  z-index:1;
  }
  .menu-bar ul li:hover .sub-menu-2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:#4A148C;
  }
  .sub-menu-2 ul{
  display: block;
  text-align:center;
  width:250px;
  margin-top:40px;
  height: 40px;
  margin-left: 10px;
  }
  .sub-menu-2 ul li{
  width: 280px;
  padding:5px;
  /* padding: 10px; */
  }
  .sub-menu-2 ul li:hover{
  width:210px;
  background-color:#EF6C00;
  /* padding: 10px; */
  }
  .sub-menu-2{
  display: none;
  }
  .menu-bar ul li:hover .sub-menu-2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:#784aac;
  opacity:0.9;
  }
  .menu-header{
  background-color:white;
  text-align: right;
  position:fixed;
  width:100vw;
  height:65px;
  margin-top:48px;
  z-index:1;
  }
  .what {
    margin-left:45%;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 1.3rem;
     font-weight: bold;
  top: -100px;
  margin-top: -50px;
   
     /* width: 150%; */
  }
  .Whos{
    margin-top:-50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .ser{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    font-weight: bold;
     
    margin-top:-50px;
  }
  .Insights{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 21px;
     font-weight: bold;
     margin-left: -21px;
     margin-top:-50px;
  }
  .getin{
   margin-top:-50px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 21px;
   font-weight: bold;
  }
  
  .styo:hover{
  color:rgb(70, 70, 73);
  transform: scale(1.25);
  }
  
  
  
  .enimg{
   
    text-align: center;
    margin-left: -60.4vw;
    margin-top: -2vh;
  }
  .gg{
    margin-left: -10.6vw;
    margin-top: 11px;
    margin-bottom: -32px;
  width: 0%;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  }
  .lk{
  margin-top: -50px;
  margin-left: 32vw;
  }
  .text
  {
    margin-top: -10px;
  
  }
  
  
  .container{
    background-image:url(hm.PNG);
    position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-left: auto;
  margin-right: auto;
    height:49vw;
    margin-top: -10px;
  }
  .paragraph{
    display: flex;
  }
  .para1{
    margin-top: 200px;
    color: #fff;
    font-size: 54px;
    font-family: sans-serif;
    margin-left: 3%;
    width: 60vw;
    font-weight: bold;
   
  }
  .para2{
    margin-top: 280px;
    color: #fff;
    font-size: 54px;
    font-family: sans-serif;
    margin-left: -33.6%;
    width: 60vw;
    font-weight: bold;
  }
  .para3{
    margin-top: 380px;
    color: #fff;
    font-size: 26px;
    font-family: sans-serif;
    margin-left: -33.5%;
    width: 58vw;
  }
  .let{
    font-size: 120px;
    margin-top: -120px;
  }
  /* .circle {
    width: 280px;
    height: 280px;
    line-height: 500px;
    border-radius: 50%;
    margin-top: 165px;
    margin-left: -110%;
    color: black;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
  } */
  .circle{
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
  }
  .lets{
    font-size: 120px;
    margin-top: -120px;
  }
  /* .circle2 {
    width: 280px;
    height: 280px;
    line-height: 500px;
    border-radius: 50%;
    margin-top: 360px;
    margin-left: -265px;
    color: black;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(248, 189, 29, 0.904) , rgb(0, 255, 221));
    border: black;
  } */
  
  .container1{
    background-image: linear-gradient(to right, rgba(194, 206, 207, 0.904) , rgb(70, 173, 199));
    height:12vh;
    
  
  }
  .ppos1{
    margin-left:3vw;
    font-size:2vw;
    padding-top:1.5vh;
    color:#717171
  }
  .numbertext {
    color: #221f1f;
    font-size: 22px;
    margin-left: 460px;
    position: absolute;
    margin-top: -49px;
  }

  .container2{
  height: 99vh;
  background-color: white;
  display: flex;
  margin-top: -40px;
  }
  
  
  .slideshow-container {
    height: 90vh;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -116px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
                                                             /* first slide image and text */                                                           
                                                             
  .hpos2{
    margin-top:-700px;
    margin-left:280px;
    color:white;
    font-size:30px;
  }
                                                             
                                                             
                                                             
  .text {
    color:white;
    font-size: 28px;
  font-family: sans-serif;
    position: absolute;
   margin-top: 25px;
   margin-left: 280px;
    width: 50%;
    text-align: justify;
    line-height:40px;
   
  
  }
  .me{
    color: rgb(116, 110, 110);
    /* margin-left: 600px; */
    /* margin-top: -1066px; */
    /* font-size: 2vw; */
    font-family: sans-serif;
  }
  
  .co{
  /* margin-left: 880px; */
  /* margin-top: -28px; */
  font-size: 24px;
  font-family: sans-serif;
  }
  .int{
    /* margin-left: 1100px; */
    margin-top: -26px;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  
  
  
  
  .meimge1{
    margin-top: 60px;
    margin-left: 1130px;
    z-index: -1;
    display: flex;
    /* width:1000px; */
   
  }
  /* .rd {
  width:10%;
  height:30px;
  margin-top: 300px;
  margin-left: 200px;
  border-radius: 30px;
  background-color:#FFFFFF;
  text-align: center;
  border:2px solid;
  border-color: rgba(0, 255, 0, 0.5);  
  } */
                                                        /* second slide image and text */

        .globelogo{
        margin-left: 680px;

        margin-top: -700.5px;
        font-size: 150px;
       }
  
  .text1 {
    color:white;
    font-size: 28px;
  font-family: sans-serif;
    position: absolute;
   margin-top: 60px;
   margin-left: 280px;
    width: 50%;
    text-align: justify;
   
  
  }
  .me{
    color: rgb(116, 110, 110);
    margin-left: 470px;
    margin-top: -566px;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  .co{
  margin-left: 780px;
  margin-top: -28px;
  font-size: 24px;
  font-family: sans-serif;
  }
  .int{
    margin-left: 990px;
    margin-top: -26px;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  
  
  
  
  .meimge2{
    margin-top: 60px;
    margin-left: 1130px;
    z-index: -1;
    display: flex;
   
  }
  /* .rd {
  width:10%;
  height:30px;
  margin-top: 300px;
  margin-left: 200px;
  border-radius: 30px;
  background-color:#FFFFFF;
  text-align: center;
  border:2px solid;
  border-color: rgba(0, 255, 0, 0.5);  
  } */
  
  
  
  
                                        /* ---------------------------third slides css------------------------ */
  
  .text2 {
    color:white;
    font-size: 28px;
  font-family: sans-serif;
    position: absolute;
   margin-top: 60px;
   margin-left: 280px;
    width: 50%;
    text-align: justify;
    line-height:40px;
   
  
  }
  .img5{
    margin-left:500px;
    margin-top:-700px;
  }
  .me2{
   
    margin-left: 470px;
    margin-top: -570px;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  .co2{
    color: rgb(116, 110, 110);
  margin-left: 780px;
  margin-top: -28px;
  font-size: 24px;
  font-family: sans-serif;
  }
  .int2{
    margin-left: 990px;
    margin-top: -26px;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  
  
  
  
  .meimge3{
    margin-top: 55px;
    margin-left: 1120px;
    z-index: -1;
    display: flex;
   
  }
  
  
  
                                                    /* ---------------------------fourth slides css------------------------ */
  
  .text3 {
    color:white;
    font-size: 28px;
  font-family: sans-serif;
    position: absolute;
   margin-top: 60px;
   margin-left: 280px;
    width: 50%;
    text-align: justify;
   
  
  }
  .img6{
    margin-left:500px;
    margin-top:-700px;
  }
  .me3{
   
    margin-left: 470px;
    margin-top: -570px;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  .co3{
   
  margin-left: 780px;
  margin-top: -28px;
  font-size: 24px;
  font-family: sans-serif;
  }
  .int3{
    color: rgb(116, 110, 110);
    margin-left: 990px;
    margin-top: -26px;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  
  
  
  
  .meimge4{
    margin-top: 55px;
    margin-left: 1120px;
    z-index: -1;
    display: flex;
   
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
   margin-top: 100px;
   margin-left: -200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .img1{
    margin-top: -41px;
    margin-left:-20vh
  }
  .img2{
    margin-top: -41px;
    margin-left:-20vh
  }
  .img3{
    margin-top: -41px;
    margin-left:-20vh
  }
  .img4{
    margin-top: -41px;
    margin-left:-20vh
  }
  
  
  
  
  
  /* .mySlides fade{
    margin-top: -20px;
  } */
  
  /* container-3 */
  
  
  
  .container3{
  height: 88vh;
  background-color:red;
  display: flex;
  margin-top:-165px;
  
  }
  .img7{
margin-left:0vw;
  }
  .img8{
    margin-left:0vw;

  }
  
  
  
  /* container-4 */
  
  
  
  /* .container4{
  height: 99vh;
  background-color: white;
  display: flex;
  margin-top: -150px;
  } */
  
  
  
  
  
  /* container-5 */
  
  
  
  /* .container5{
  height: 99vh;
  background-color: white;
  display: flex;
  margin-top: -120px;
  } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .footer{
    height: 50px;
    margin-top: 1178px;
    display: flex;
    background-color:rgb(188, 170, 170);
    z-index: 1;
  }
  .fp{
    margin-top: 18px;
   margin-left: 1.5%;
   font-size: 20px;
  }
  .fc{
    margin-left: 69%;
    margin-top:10px ;
  }
  .eimg{
    margin-left: -90%;
    margin-top: 6px;
  }
  .lin{
    margin-top: 5px;
    margin-left: 200px;
  }
  .face{
    margin-top: 5px;
   margin-left: 0.6%;
  }
  .inst{
    margin-top: 5px;
   margin-left: 0.9%;
  }
  .gm{
    margin-top: 5px;
    margin-left: -36%;
  }
  .uu{
    margin-top: 0.35%;
    margin-left: -0.5%;
  }
  .ppos2{
margin-left:-72.5vw;
color:black;
margin-top:25vh;
font-size:3vw;
  }
  .ppos3{
margin-left:0vw;
color:white;
font-size:3vw;
margin-top:25vh;
  }
  .ppos4{
    margin-left:-54.4vw;
    color:black;
    margin-top:35vh;
    font-size:3vw;
  }
.ppos5{
 margin-left:1vw;
color:white;
margin-top:35vh;
font-size:3vw;
}
.ppos6{
margin-left:-27.7vw;
color:black;
margin-top:45vh;
font-size:3vw;
}
.ppos7{
margin-left:0.5vw;
color:white;
margin-top:45vh;
font-size:3vw;
}
.rd {
  width:11%;
  height:40px;
  margin-top: 600px;
  margin-left: -215px;
  border-radius: 30px;
  /* background-color:#FFFFFF; */
  text-align: center;
  border:2px solid;
  border-color: rgba(0, 255, 0, 0.5);  
  }
  .ppos8{
    color:black;
    margin-left:-82px;
    font-size:35px;
    margin-top:-0.6px;
  }                                         
  .ppos9{
    color:white;
    margin-left:75px;
    font-size:35px;
    margin-top:-41px;
  }      
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 